/* --------------------------------------------------------------

   print.css
   * Stylesheet for media print

-------------------------------------------------------------- */

body { 
  width: auto!important; 
  margin: auto!important; 
  font-family: serif; 
  font-size: 12pt; 
  background-color: #fff!important; 
  color: #000!important;
  text-shadow: none !important; 
  filter:none !important; 
  -ms-filter: none !important
} 
p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol { 
  color: #000!important; 
  margin: auto!important; 
} 
.print { 
  display: block; /* affichage des elements de classe print */ 
} 
p, blockquote { 
  orphans: 3; /* pas de ligne seule en bas */ 
  widows: 3; /* pas de ligne seule en haut */ 
} 
blockquote, ul, ol { 
  page-break-inside: avoid; /* pas de coupure dans ces elements */ 
}
thead {
  display: table-header-group;
} /* Repeat header row at top of each printed page */
tr, img {
  page-break-inside: avoid; 
}
h1 { 
  page-break-before: always; /* chaque titre commence sur une nouvelle page */ 
} 
h1, h2, h3, caption { 
  page-break-after: avoid; /* pas de saut apres ces elements */
  orphans: 3; widows: 3;
} 
a { 
  color: #000!important; 
  text-decoration: underline!important; 
} 
a[href]:after { 
  content: " (" attr(href) ")"; /* affichage des URL des liens */ 
}
abbr[title]:after {
  content: " (" attr(title) ")"
}

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: ""}  /* Don't print links for images, javascript or internal links */

[class^=nav_],.hlist,.vlist,
form,.breadcrumb,.toppage,
.access,.action,.submit,.more {
  display:none;
}

.list_activity li,
[class$=_list] > ul > li {
  list-style:none;
}